body{
	background-image: linear-gradient(to bottom right,grey,lightgrey);
}
ul{
	list-style-type: none;
}
ul li a{
	font-size: 2.6vw;
	text-decoration: none;
   border-radius: 30vw;
   font-style: italic;
   background-color:grey;
   color: black;
   padding: 1vw 3vw;
    transition-duration: 1s ;
}
.a{
	 position: absolute;
 	top: 15%;
 	left:17%; 
}
.b{
	 position: absolute;
 	top: 60%;
 	left:64%; 
}
.c{
	position: absolute;
	top: 32.5%;
	left: 40.5%;
}
ul li:hover a{
	font-size: 2.6vw;
	text-decoration: none;
   border-radius: 40vw;
   background-color: white;
   color: lightgrey;
   padding: 1.5vw 3.5vw;

}
.logo{
	position: absolute;
	top: 0vw;
	right: 0vw;
	width: 7vw;
	top: auto;
	transition: 1s;
}
.logo:hover{
	width:10vw;
	height: auto;
	transition: 0.5s ease; 
}
